@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --text-primary: #403f3d;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;
  --background-page: #e1d4c9;
  --background-container: #665f55;
  --background-overlay: rgba(#403f3d, 0.8);
  --border-primary: #c1b6ad;
  --border-inverse: #665f55;
}
:root .dark-theme {
  --text-primary: #e1d4c9;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;
  --background-page: #292826;
  --background-container: #403f3d;
  --background-overlay: rgba(#292826, 0.8);
  --border-primary: #665f55;
  --border-inverse: #c1b6ad;
}

.heading-1 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.05;
  color: var(--text-inverse);
}
.heading-1 .accent {
  font-style: italic;
  color: var(--text-accent);
}

.heading-2 {
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 1.25;
}
.heading-2 .accent {
  font-style: italic;
  color: var(--text-accent);
}

.heading-3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
}

.caption {
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 1.4;
}

.text-action {
  font-weight: 600;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  background-color: var(--background-page);
  color: var(--text-primary);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.header__logo-img {
  max-width: 100%;
}
.header__menu {
  flex: 1 1 auto;
}
.menu-header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 2.5rem;
  row-gap: 0.3125rem;
}
.menu-header__link {
  font-weight: 600;
  position: relative;
}
.menu-header__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.125rem;
  bottom: -4px;
  left: 0;
  background-color: var(--text-primary);
  transition: width 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu-header__link:hover::before {
    width: 100%;
  }
}

.actions-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.actions-header__theme {
  border: 0.0625rem solid var(--border-primary);
  border-radius: 6.25rem;
  padding: 0.25rem;
  position: relative;
  display: flex;
  gap: 0.5rem;
  width: 5.5rem;
  height: 2.75rem;
  align-items: center;
  color: var(--text-primary);
  cursor: pointer;
  background-color: transparent;
}
.actions-header__theme::before {
  content: "";
  position: absolute;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: var(--text-accent);
  top: 50%;
  left: 0.25rem;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}
.actions-header__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  position: relative;
  z-index: 1;
}
.actions-header__icon:first-child {
  color: var(--text-inverse);
}
.actions-header__menu {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 600;
  position: relative;
  color: var(--text-primary);
}
.actions-header__menu::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.125rem;
  bottom: -0.25rem;
  left: 0;
  background-color: var(--text-primary);
  transition: width 0.3s ease 0s;
}
@media (any-hover: hover) {
  .actions-header__menu:hover::before {
    width: 100%;
  }
}

.hero:not(:last-child) {
  margin-bottom: 6.25rem;
}
.hero__body {
  background: url("../img/main-img.jpg") center/cover no-repeat;
  padding: 6.25rem;
  border-radius: 2.5rem;
}
.hero__content {
  max-width: 33.125rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.hero__text {
  color: var(--text-inverse);
}
.hero__link {
  align-self: flex-start;
  padding: 1.25rem 4.875rem;
  display: flex;
  font-weight: 600;
  background-color: var(--background-page);
  border-radius: 6.25rem;
  position: relative;
}
@media (any-hover: hover) {
  .hero__link:hover .hero__link-icon {
    opacity: 1;
    visibility: visible;
  }
}
.hero__link-icon {
  transition: opacity 0.3s ease;
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  right: 3.25rem;
  opacity: 0;
  visibility: hidden;
}

.favorite {
  margin-bottom: 6.25rem;
}
.favorite__title {
  text-align: center;
  margin-bottom: 2.5rem;
}
.slider {
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
  justify-content: space-between;
}
.slider__btn {
  color: var(--text-primary);
  flex-shrink: 0;
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.0625rem solid var(--border-inverse);
  border-radius: 50%;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
@media (any-hover: hover) {
  .slider__btn:hover {
    background-color: var(--background-container);
    color: var(--text-inverse);
  }
}
.slider__window {
  overflow: hidden;
  flex: 1 1 auto;
  min-width: 0;
}
.slider__track {
  display: flex;
  transition: transform 0.3s ease;
}
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  flex-shrink: 0;
  width: 100%;
}
.slider__image img {
  max-width: 100%;
}
.slider__content {
  max-width: 21rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.slider__price {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.25;
}
.slider__btn-next {
  transform: rotate(180deg);
}
.slider__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
}
.slider__dot {
  width: 2.5rem;
  height: 0.25rem;
  background-color: var(--border-primary);
  border-radius: 6.25rem;
}
.slider__dot-active {
  background-color: var(--text-primary);
}

.about {
  margin-bottom: 6.25rem;
}
.about__title {
  margin-bottom: 2.5rem;
}
.about__images {
  display: flex;
  gap: 2.5rem;
}
.about__images-left, .about__images-right {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  flex: 1;
}
.about__images-left .about__image:first-child {
  aspect-ratio: 660/590;
}
.about__images-left .about__image:last-child {
  aspect-ratio: 660/430;
}
.about__images-right .about__image:first-child {
  aspect-ratio: 660/430;
}
.about__images-right .about__image:last-child {
  aspect-ratio: 660/590;
}
.about__image {
  width: 100%;
  border-radius: 1.25rem;
  object-fit: cover;
}/*# sourceMappingURL=style.css.map */